.counts {
    background: #34495E;
    color: #fff;
    border-radius: 5px;
    width: 225px;
}

.counts div {
    padding: 8px;
}

.counts span {
    float: right;
}
h3 {
    margin-top: 0;
    font-size: 4vw;
    text-align: center;
    text-decoration: underline;
}