.search-form {
    margin-bottom: 40px;
}

button {
    margin-left: 10px;
    color: #fff;
    background-color: #009b25;
    border-radius: 4px;
    padding: 2px 5px;
    font-size: 18px;
    cursor: pointer;
}

.upperBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

app-orbit-list {
    grid-column: 1/5;
}

app-orbit-counts {
    grid-column: 5/6;
}

.search-form {
    padding:15px;
    text-align: center;
    margin: 0;
}

.searchBar {
    background-color: #34495E;
}