h3 {
    margin-top: 0;
    font-size: 4vw;
    text-align: left;
    text-decoration: underline;
}

.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #da8a8a;
}

table {
  color: #111;
  border-radius: 5px;
  border-collapse: collapse;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #dad8d8;
}

table, td, th {
    border: 1px solid black;
}

#tableRows:nth-child(even){
    background-color: rgb(106, 106, 240);
}

#tableRows:nth-child(odd){
    background-color: rgb(178, 233, 157);
}

.header-row {
    background: #34495E;
    color: #fff
}

th, td {
    font-size: 2vw;
    text-align: center;
    margin: 1vw 1vw;
    padding: .5vw;
}

